@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter;
}

html {
    scroll-behavior: smooth;
}

/* body{
    background: rgb(167,206,2);
    background: linear-gradient(90deg, rgba(167,206,2,1) 0%, rgba(255,255,255,1) 50%, rgba(167,206,2,1) 100%);
} */

/* NAVBAR */
  
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
}
  
.navbar {
    display: flex;
    padding: 0 30px;
    max-width: 1400px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
  
.navbar input#menu-toggler {
    display: none;
}
  
.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
    color: black;
}
  
.navbar .all-links {
    display: flex;
    align-items: center;
}
  
.navbar .all-links li {
    position: relative;
    list-style: none;
}
  
.navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.navbar .logo a img{
    width: 200px;
}
  
header a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}
  
.navbar a:hover{
    color: #88B401;
}

.navbar a.active:hover{
    color: #FFFFFF;
}

.navbar a.active{
    color: black;
    padding: 10px;
    border-radius: 50px;
    background-color: #84A400;
    background: linear-gradient(90deg, #ABD102 0%, #629B10 100%);
}

.navbar ul li a span{
    font-size: 25px;
}

.material-symbols--translate {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m11.9 22l4.55-12h2.1l4.55 12H21l-1.075-3.05h-4.85L14 22zM4 19l-1.4-1.4l5.05-5.05q-.875-.875-1.588-2T4.75 8h2.1q.5.975 1 1.7t1.2 1.45q.825-.825 1.713-2.313T12.1 6H1V4h7V2h2v2h7v2h-2.9q-.525 1.8-1.575 3.7t-2.075 2.9l2.4 2.45l-.75 2.05l-3.05-3.125zm11.7-1.8h3.6l-1.8-5.1z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@media screen and (max-width: 1250px){
    .navbar {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: block;
      height: 100vh;
      top: 85px;
      background: #FFFFFF;
      transition: left 0.3s ease;
    }
  
    .navbar #menu-toggler:checked~.all-links {
      left: 0;
    }
  
    .navbar .all-links li {
      font-size: 18px;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }

    .navbar .logo a img{
        left: 2rem;
        width: 200px;
    }

    .navbar a.active{
        color: black;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 0%;
        background-color: #FFFFFF;
        background: white;
    }

    .navbar a.active:hover{
        color: #88B401;
    }
}

/* Home */

.home{
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,#417515 0%, #63C50F 51%, #A1CA02 100%);
}

.home-content{
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    padding-left: 5rem;
}

.home-content .title h1{
    font-size: 3.8rem;
    font-weight: 700;
    color: #FFFFFF;
}

.home-content .title h1 span{
    color: #A7CE02;
}

.home-content .title p{
    width: 500px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 38px;
    margin-top: 1rem;
    color: #FFFFFF;
}

.home-content .image{
    position: relative;
    text-align: center;
    isolation: isolate;
    padding-top: 8rem;
}

.home-content .image img{
    width: 100%;
    max-width: 670px;
}

@media (max-width : 1050px) { 
    .home-content {
        text-align: left;
    }

    .home-content .title p{
        width: 400px;
        font-weight: 500;
    } 

    .home-content .title h1{
        font-size: 2.5rem;
        font-weight: 600;
    }    
  
    .home-content .image {
      grid-area: 1/2/1/2;
      padding-top: 0;
    }

    .home-content .image img{
        max-width: 700px;
    }
}

@media (width < 991px) {
    .home {
        padding: 1rem;
        grid-template-columns: repeat(1,1fr);
    }
  
    .home-content {
        text-align: left;
        padding-left: 4rem;
    }

    .home-content .title p{
        width: 400px;
    } 

    .home-content .title h1{
        font-size: 2.5rem;
        font-weight: 700;
    }    
  
    .home-content .image {
      grid-area: 1/2/1/2;
      padding-top: 0;
    }

    .home-content .image img{
        max-width: 700px;
    }
}

@media (max-width : 860px) { 
    .home-content .title p{
        width: 340px;
        font-size: 1.6rem;
    } 

    .home-content .title h1{
        font-size: 2.2rem;
    }    
  
}

@media (max-width : 670px) { 
    .home-content .title p{
        width: 280px;
        font-size: 1.3rem;
    } 

    .home-content .title h1{
        font-size: 2rem;
    }    
}

@media (max-width : 645px) { 
    .home-content .title p{
        width: 220px;
        font-size: 1.2rem;
    } 

    .home-content .title h1{
        font-size: 1.8rem;
    }    
}

/* Vission Mission */

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(167,206,2,1) 0%, rgba(255,255,255,1) 50%, rgba(167,206,2,1) 100%);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    padding: 26px;
    list-style: none;
    text-decoration: none;
}

.card-list .card-item img {
    width: 100%;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    margin-top: 32px;
    font-size: 0.75rem;
    font-weight: 600;
}

.card-item .text1{
    background-image: url('assets/back1.png');
    background-size: 100%;
    height: 160px;
}

.card-item .text2{
    background-image: url('assets/back2.png');
    background-size: 100%;
    height: 140px;
}

.card-item .text1 h3 {
    color: #FFFFFF;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 3.2rem;
    padding-top: 3.2rem;
    font-weight: 600;
}

.card-item .text1 a {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 3.2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.card-item .text2 h3 {
    color: #FFFFFF;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
    padding-top: 3.2rem;
    font-weight: 600;
}

.card-item .text2 a {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media (max-width: 1050px) {
    .card-list {
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 980px) {
    .portfolio{
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .card-list {
        margin: 0 auto;
    }
}

@media (max-width: 540px){
    .portfolio{
       padding-top: 4rem;
       padding-bottom: 4rem;
    }

    .card-list {
        max-width: 1250px;
        gap: 20px;
    }

    .card-item
    
    .card-list .card-item {
        width: 80%;
    } 

    .card-item .text1{
        height: 125px;
    }
    
    .card-item .text2{
        height: 110px;
    }
    
    .card-item .text1 h3 {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-left: 3.2rem;
        padding-top: 2.2rem;
        font-weight: 600;
    }
    
    .card-item .text1 a {
        font-size: 12px;
        margin-left: 3.2rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }
    
    .card-item .text2 h3 {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-left: 3.5rem;
        padding-top: 2.2rem;
        font-weight: 600;
    }
    
    .card-item .text2 a {
        font-size: 12px;
        margin-left: 3.5rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }
}


/* Footer */
.footer{
    background-color: white;
}

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col{
    width: 25%;
    padding:45px 12px;
}

.footer-col h4{
    font-size: 18px;
    color: #4A5568;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: white; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #718096;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #718096;
    padding-left: 7px;
}

.footer-col .social-links a{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
    margin-left: 27px;
}

.footer-col .social-links a:hover{
    color: white;
    background-color: black;
}

.footer-copyright{
    width: 100%;
    margin-bottom: 30px;
}

.footer-copyright p{
    display: flex;
    text-align: center;
    color: black;
    justify-content: center;
    margin-left: 27px;
}

@media(max-width:1250px){
    .footer-col{
        width: 20%;
        margin-bottom: 30px;
        margin-left: 15px;
    }
}

@media(max-width:991px){
    .footer-col{
        width: 30%;
        margin-bottom: 20px;
        margin-left: 15px;
    }
}

@media(max-width:768px){
    .footer-col{
        width: 30%;
        margin-bottom: 10px;
        margin-left: 15px;
    }
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
        margin-left: 15px;
    }
}